a {
  color:#000;
}

a:hover{
  color:#888;
}

.AppWrap{
  width: 95%;
  margin: auto;
}

.centerize{
  text-align: center;
}

.LandingPageChart{
  vertical-align: top;
  display: inline-block;
  width: 70%;
}

.CoinTable{
  display: inline-block;
}
